.callback-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    &__title{
        font-weight: 700;
        font-size: 20px;
        line-height: 0.87;
        letter-spacing: 0.03em;
        color: $main-black;
        margin-bottom: 12px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    &__input-item{
        position: relative;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    &__input{
        width: 100%;
        height: 40px;
        
        padding-left: 42px;
        
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        
        transition-property: border-color;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing-function;

        &:focus {
            outline: none;
            border-color: $main-blue;
        }
        
        &:focus+.callback-form__input-icon{
            fill: $main-blue;
        }
    }

    &__input-icon{
        position: absolute;
        top: 11px;
        left: 12px;
        width: 18px;
        height: 18px;
        
        transition-property: fill;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing-function;
    }

    &__textarea{
        min-height: 120px;
        max-height: 130px;
        padding: 12px 16px;
        margin-top: 4px;
        margin-bottom: 0;
        resize: vertical;

        border: 1px solid rgba(33, 33, 33, 0.2);

        transition-property: border-color;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing-function;
        
        &:focus {
            outline: none;
            border-color: $main-blue;
        }
    }

    &__confirm{
        position: relative;
        display: block;
        padding-left: 24.38px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-bottom: 30px;

    }
    &__checkbox{    
        
        appearance: none;

        &:checked~.callback-form__custom-checkbox {
            border: none;
            background-color: $main-blue;
        }
    }
    &__custom-checkbox{
        position: absolute;
        left: 0;
        top: calc((23.93px - 15px) / 2);
        width: 16px;
        height: 15px;
        border: 2px solid $main-black;
        fill: $main-white;
        border-radius: 2px;
    
        transition-property: background-color, border;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing-function;
    }

    &__btn{
        @include btn(200px, 50px);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        
        transition-property: background-color;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing-function;

        &:hover{
            background-color: #188CE8;
        }
    }
}