.footer{
    background-color: $additional-black;
    padding-top: 60px;
    padding-bottom: 60px;
    color: $additional-grey;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &__container{
        width: 480px;
        gap: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;

        @media screen and (max-width: 479.8px) {
            max-width: min-content;            
        }

        @media screen and (min-width: $tablet) {
            width: 768px;
            justify-content: space-between;
            column-gap: 0;
            row-gap: 60px;           
        }

        @media screen and (min-width: $desktop) {
            flex-wrap: nowrap;
            width: 1200px;
            gap: 0;            
        }
    }

    &__about {
            text-align: center;
            width: 232px;

            @media screen and (max-width: 479.8px) {
                max-width: 232px;                
            }

            @media screen and (min-width: $desktop) {
                text-align: start;
                margin-right: 70px;
            }
        }

    &__logo{
        @include logo($main-white);
        display: inline-block;
        margin-bottom: 20px;
        text-align: center;
    }
    &__logo-start{
        @include logo-start()
    }
    &__adress{
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
    &__location{
        @extend %link;
        display: block;
        color: $main-white;
    }
    &__contact{
        @extend %link;

        transition-property: color;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing-function;
        &:hover, &:focus{
            color: $main-blue;
        }
    }

    &__socials{
        @media screen and (min-width: $desktop) {
            margin-right: 93px;
        }
    }

    &__socials-title{
        color: $main-white;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        margin-bottom: 20px;

        text-align: center;

        @media screen and (min-width: $desktop) {
            text-align: start;
        }
    }

    &__social-media-bar{
        @extend .social-media-set;
    }

    &__social-media-link{
        @include social-media-icon($main-white, rgba(255, 255, 255, 0.1));

        &:hover{
            background-color: $main-blue;
        }
    }

    &__social-media-icon{
        width: 20px;
        height: 20px;
    }

    &__join-us{
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @media screen and (min-width: 1200px) {
            width: 570px;
            margin: 0;
        }
    }

    &__join-us-label{
        
        margin-bottom: 20px;

        color: $main-white;

        font-weight: 700;
        font-size: 14px;
        line-height: 0.875;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        text-align: center;

        @media screen and (min-width: $desktop) {
            text-align: start;
        }
    }

    &__join-us__container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: $desktop) {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        @media screen and (min-width: $desktop) {
            gap: 12px;
        }
    }

    &__join-us__input{
        max-width: 450px;
        height: 50px;
        padding-left: 16px;
        color: $main-white;
        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        @media screen and (min-width: $mobile) {
            width: 450px;         
        }

        @media screen and (min-width: $desktop) {
            width: 358px;
        }
    }

    &__join-us__btn{
        @include btn(200px, 50px);
        gap: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &__join-us__btn__icon{
        @include icon(24px, 24px, $main-white)
    }
}