.hero {
    height: 400px;
    max-width: 1600px;

    margin: 0 auto;
    padding-top: 118px;

    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: $main-white;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;



    @media screen and (min-width: $desktop) {
        height: 600px;
        padding-top: 200px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__title{
        width: 360px;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42/26);
        margin-bottom: 30px;


        @media screen and (min-width: $desktop) {
            width: 696px;
            font-size: 44px;
            line-height: calc(60/44);
        }
    }

    &__btn{
        @include btn(216px, 50px);
    }
}