.hero {
    height: 400px;
    max-width: 1600px;

    margin: 0 auto;
    padding-top: 118px;

    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: $main-white;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    // Mobile screen
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/hero/img-1_mob@1x.jpg);
    
    // retina mobile screen
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img-1_mob@2x.jpg);
    }
    
    // Tablet screen
    @media screen and (min-width: 481px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img-1_tab@1x.jpg);
    
        // retina tablet screen
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/img-1_tab@2x.jpg);
        }
    }
    
    // Desktop screen
    @media screen and (min-width: 769px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img-1_des@1x.jpg);
    
        // retina desktop screen
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/hero/img-1_des@2x.jpg);
        }
    }

    @media screen and (min-width: $desktop) {
        height: 600px;
        padding-top: 200px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__title{
        max-width: 360px;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42/26);
        margin-bottom: 30px;


        @media screen and (min-width: $desktop) {
            max-width: 696px;
            font-size: 44px;
            line-height: calc(60/44);
        }
    }

    &__btn{
        @include btn(216px, 50px);
    }
}