.qualities{
    &__card-set{
        @extend %list;

        @media screen and (min-width: $tablet) {
            @include card-set(738px, 30px, center)
        }

        @media screen and (min-width: $desktop) {
            @include card-set(1170px, 30px)
        }
    }
    &__card{
        font-size: 14px;

        @media screen and (min-width: $tablet) {
            width: 354px;
        }

        @media screen and (min-width: $desktop) {
            width: 270px;
        }
    }
    &__card-img{
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 120px;

        margin-bottom: 30px;

        background-color: $additional-white;
        border-radius: 4px; 
    }
    &__card-title{
        color: $main-black;
        padding-bottom: 10px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media screen and (max-width: 767.8px) {
            text-align: center;            
        }
    }
    &__card-description{
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__icon{
        @include icon(70px, 70px, none)
    }
}